/* Add CSS Styling */
.odd {
  background-color: rgb(242, 108, 108);
  font-family:Verdana, DejaVu Sans, sans-serif;
}

.odd.third {
    font-size: 24px;
}

#second {
    color: rgb(0, 0, 255);
    font-size: 36px;
}

#fourth {
    font-size: 24px;
    font-weight: 700;
    background-color: rgb(98, 241, 98);
}