body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 450px;
  background: #fff;
  margin: 16px auto;
  padding: 4px;
}

.title,
.content,
.button-container {
  background: #e3f4ff;
  padding: 12px;
  margin: 12px;
}

.title {
  font-size: 18px;
}

.content {
}

.button-container {
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: 0 auto;
  padding: 8px 24px;
}
